# Confirmed cases code

In [70]:
import pandas as pd
import numpy as np
from datetime import datetime

In [71]:
import os
os.chdir("../Raw data")

In [72]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [73]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips
fips.head()

   stfips   stname ctyfips         ctyname  fips
1       1  Alabama       1  Autauga County  1001
2       1  Alabama       3  Baldwin County  1003
3       1  Alabama       5  Barbour County  1005
4       1  Alabama       7     Bibb County  1007
5       1  Alabama       9   Blount County  1009

In [74]:
cases = pd.read_csv("jhu_time_series_us_confirmed_2020_04_18.csv")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10]], axis=1, inplace=True)

cases.head()

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,60.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,0,0,0,0,0,0,0,0,0,...,128,130,133,133,133,133,135,135,136,136
2,69.0,0,0,0,0,0,0,0,0,0,...,11,11,11,11,11,11,13,13,13,14
3,72.0,0,0,0,0,0,0,0,0,0,...,683,725,788,897,903,923,974,1043,1068,1118
4,78.0,0,0,0,0,0,0,0,0,0,...,45,50,51,51,51,51,51,51,51,53

In [75]:
cols = []
cols2 = []
for i in range(1, 89):
    old = cases.columns[i]
    dto = datetime.strptime(old, '%m/%d/%y')
    new = dto.strftime('%Y%m%d')
    cols.append('confirmed_cases_' + new)
    cols2.append('deaths_' + new)

In [76]:
for item in cols:
    fips[item] = 0
fips

,stfips,stname,ctyfips,ctyname,fips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,confirmed_cases_20200409,confirmed_cases_20200410,confirmed_cases_20200411,confirmed_cases_20200412,confirmed_cases_20200413,confirmed_cases_20200414,confirmed_cases_20200415,confirmed_cases_20200416,confirmed_cases_20200417,confirmed_cases_20200418
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3318,72,Puerto Rico,145,Vega Baja Municipio,72145,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
def row_loc_county(inp):
    location = fips.index[(fips['fips']) == inp].values
    location = location.tolist()
    return location

In [ ]:
for j in range(cases.shape[0]):
    for i in range(1, 89):
        fips.iloc[row_loc_county(cases.iloc[j, 0]), i+4] = cases.iloc[j, i]
fips

In [61]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips

,stfips,stname,ctyfips,ctyname,fips,deaths_20200122,deaths_20200123,deaths_20200124,deaths_20200125,deaths_20200126,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3318,72,Puerto Rico,145,Vega Baja Municipio,72145,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
fips.to_csv("jhu_confirmed.csv")

# Deaths code

In [46]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [51]:
for item in cols2:
    fips[item] = 0
fips

,stfips,stname,ctyfips,ctyname,fips,deaths_20200122,deaths_20200123,deaths_20200124,deaths_20200125,deaths_20200126,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
0,1,Alabama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3323,72,Puerto Rico,unknown,unknown,unknown,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
deaths = pd.read_csv("jhu_time_series_us_deaths_2020_04_18.csv")
deaths.drop(deaths.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)


deaths.head()

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,60.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,0,0,0,0,0,0,0,0,0,...,4,4,5,5,5,5,5,5,5,5
2,69.0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3,72.0,0,0,0,0,0,0,0,0,0,...,33,39,42,44,45,45,51,56,58,60
4,78.0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,3

In [54]:
for j in range(deaths.shape[0]):
    for i in range(1, 89):
        fips.iloc[row_loc_county(deaths.iloc[j, 0]), i+4] = deaths.iloc[j, i]

fips

,stfips,stname,ctyfips,ctyname,fips,deaths_20200122,deaths_20200123,deaths_20200124,deaths_20200125,deaths_20200126,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
0,1,Alabama,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3323,72,Puerto Rico,unknown,unknown,unknown,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips

,stfips,stname,ctyfips,ctyname,fips,deaths_20200122,deaths_20200123,deaths_20200124,deaths_20200125,deaths_20200126,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3318,72,Puerto Rico,145,Vega Baja Municipio,72145,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3319,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
fips.to_csv("jhu_conf_deaths.csv")

In [68]:
case = pd.read_csv("jhu_confirmed.csv")
death = pd.read_csv("jhu_conf_deaths.csv")

In [79]:
case.head()

,Unnamed: 0,stfips,stname,ctyfips,ctyname,fips,deaths_20200122,deaths_20200123,deaths_20200124,deaths_20200125,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
0,1,1,Alabama,1,Autauga County,1001,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2
1,2,1,Alabama,3,Baldwin County,1003,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
2,3,1,Alabama,5,Barbour County,1005,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,Alabama,7,Bibb County,1007,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,Alabama,9,Blount County,1009,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
merged = pd.concat([case.iloc[:, 1:], death.iloc[:, 6:]], axis=1)
merged

,stfips,stname,ctyfips,ctyname,fips,deaths_20200122,deaths_20200123,deaths_20200124,deaths_20200125,deaths_20200126,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
0,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2
1,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
2,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72,Puerto Rico,145,Vega Baja Municipio,72145,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3216,72,Puerto Rico,147,Vieques Municipio,72147,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3217,72,Puerto Rico,149,Villalba Municipio,72149,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3218,72,Puerto Rico,151,Yabucoa Municipio,72151,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3219,72,Puerto Rico,153,Yauco Municipio,72153,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
merged.to_csv("JHU_caseAndDeath.csv")