In [45]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [46]:
import os
os.chdir("../Raw data")

In [47]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [48]:
os.chdir("../Intermediate data")

In [49]:

JHU_caseAndDeath = pd.read_csv("JHU_caseAndDeath.csv")
JHU_caseAndDeath = JHU_caseAndDeath.iloc[:, 7:]
JHU_caseAndDeath.head()

BU_policyData = pd.read_csv("BU_policyData.csv")
BU_policyData = BU_policyData.iloc[:, 7:]
BU_policyData.head()
JHU_caseAndDeath

,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,confirmed_cases_20200127,confirmed_cases_20200128,confirmed_cases_20200129,confirmed_cases_20200130,confirmed_cases_20200131,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3321,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3322,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3323,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
fips = pd.concat([fips, BU_policyData, JHU_caseAndDeath], axis=1)
fips

,stfips,stname,ctyfips,ctyname,fips,k12,dayCare,nursing_visitorBan,stayAtHome_declare,nonEssentaialBusiness_closed,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
0,1,Alabama,0,0,0,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,0,0,0,0,0,0,0,0,0,0
1,1,Alabama,1,Autauga County,1001,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,1,1,1,1,1,1,1,1,2,2
2,1,Alabama,3,Baldwin County,1003,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,1,1,1,1,1,2,2,2,2,2
3,1,Alabama,5,Barbour County,1005,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3319,72,Puerto Rico,147,Vieques Municipio,72147,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3323,72,Puerto Rico,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [52]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == 'unknown'].index)
fips

,stfips,stname,ctyfips,ctyname,fips,k12,dayCare,nursing_visitorBan,stayAtHome_declare,nonEssentaialBusiness_closed,...,deaths_20200409,deaths_20200410,deaths_20200411,deaths_20200412,deaths_20200413,deaths_20200414,deaths_20200415,deaths_20200416,deaths_20200417,deaths_20200418
1,1,Alabama,1,Autauga County,1001,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,1,1,1,1,1,1,1,1,2,2
2,1,Alabama,3,Baldwin County,1003,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,1,1,1,1,1,2,2,2,2,2
3,1,Alabama,5,Barbour County,1005,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,7,Bibb County,1007,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,0,0,0,0,0,0,0,0,0,0
5,1,Alabama,9,Blount County,1009,2020-03-18 00:00:00,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-04-04 00:00:00,2020-03-28 00:00:00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3318,72,Puerto Rico,145,Vega Baja Municipio,72145,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3319,72,Puerto Rico,147,Vieques Municipio,72147,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3320,72,Puerto Rico,149,Villalba Municipio,72149,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3321,72,Puerto Rico,151,Yabucoa Municipio,72151,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3322,72,Puerto Rico,153,Yauco Municipio,72153,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [53]:
fips.to_csv("Pandemic_v1.csv")