# Confirmed cases code

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
import os
os.chdir("../Raw data")

In [3]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [4]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips
fips.head()

   stfips   stname ctyfips         ctyname  fips
1       1  Alabama       1  Autauga County  1001
2       1  Alabama       3  Baldwin County  1003
3       1  Alabama       5  Barbour County  1005
4       1  Alabama       7     Bibb County  1007
5       1  Alabama       9   Blount County  1009

In [5]:
cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10]], axis=1, inplace=True)

cases.head()

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,60.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,0,0,0,0,0,0,0,0,0,...,139,141,141,141,141,141,141,145,145,145
2,69.0,0,0,0,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,14,14
3,72.0,0,0,0,0,0,0,0,0,0,...,1416,1276,1307,1371,1389,1400,1433,1539,1575,1757
4,78.0,0,0,0,0,0,0,0,0,0,...,54,54,55,57,57,57,57,66,66,66

In [27]:
cols = []
for col in cases.columns[1:]:
    cols.append("confirmed_cases_" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d'))

In [29]:
for col in cols:
    fips[col] = 0

In [30]:
for i in range(cases.shape[0]):
    for col in cols:
        fips.loc[(fips["fips"] == cases.iloc[i, 0]), col] = cases.iloc[i, cols.index(col) + 1]

In [33]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips = fips.iloc[0:3142]
fips

,stfips,stname,ctyfips,ctyname,fips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,confirmed_cases_20200423,confirmed_cases_20200424,confirmed_cases_20200425,confirmed_cases_20200426,confirmed_cases_20200427,confirmed_cases_20200428,confirmed_cases_20200429,confirmed_cases_20200430,confirmed_cases_20200501,confirmed_cases_20200502
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,33,36,36,37,39,40,43,44,42,45
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,143,147,147,161,168,171,174,174,175,181
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,30,32,32,33,35,37,37,39,42,43
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,33,34,34,38,42,42,42,42,42,42
5,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,31,31,31,34,34,34,36,37,39,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3238,56,Wyoming,37,Sweetwater County,56037,0,0,0,0,0,...,16,16,16,16,16,16,17,18,18,18
3239,56,Wyoming,39,Teton County,56039,0,0,0,0,0,...,93,95,95,95,95,96,96,96,96,97
3240,56,Wyoming,41,Uinta County,56041,0,0,0,0,0,...,7,7,7,7,7,8,8,8,8,8
3241,56,Wyoming,43,Washakie County,56043,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
3242,56,Wyoming,45,Weston County,56045,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
fips.to_csv("jhu_confirmed.csv")

# Deaths code

In [44]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

In [45]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips
fips.head()

   stfips   stname ctyfips         ctyname  fips
1       1  Alabama       1  Autauga County  1001
2       1  Alabama       3  Baldwin County  1003
3       1  Alabama       5  Barbour County  1005
4       1  Alabama       7     Bibb County  1007
5       1  Alabama       9   Blount County  1009

In [46]:
cases = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
cases.drop(cases.columns[[0,1,2, 3, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)

cases.head()

,FIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20
0,60.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66.0,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
2,69.0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3,72.0,0,0,0,0,0,0,0,0,0,...,69,77,83,84,84,86,86,92,94,95
4,78.0,0,0,0,0,0,0,0,0,0,...,3,3,3,4,4,4,4,4,4,4

In [47]:
cols = []
for col in cases.columns[1:]:
    cols.append("death" + datetime.strptime(col, "%m/%d/%y").strftime('%Y%m%d'))

In [48]:
for col in cols:
    fips[col] = 0

In [49]:
for i in range(cases.shape[0]):
    for col in cols:
        fips.loc[(fips["fips"] == cases.iloc[i, 0]), col] = cases.iloc[i, cols.index(col) + 1]

In [50]:
fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips = fips.iloc[0:3142]
fips

,stfips,stname,ctyfips,ctyname,fips,death20200122,death20200123,death20200124,death20200125,death20200126,...,death20200423,death20200424,death20200425,death20200426,death20200427,death20200428,death20200429,death20200430,death20200501,death20200502
1,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,2,2,2,2,3,4,4,4,3,3
2,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,3,3,3,3,3,3,3,3,4,4
3,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
4,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3238,56,Wyoming,37,Sweetwater County,56037,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3239,56,Wyoming,39,Teton County,56039,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3240,56,Wyoming,41,Uinta County,56041,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3241,56,Wyoming,43,Washakie County,56043,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3242,56,Wyoming,45,Weston County,56045,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
fips.to_csv("jhu_deaths.csv")

In [59]:
cases = pd.read_csv("jhu_confirmed.csv")
cases = cases.iloc[:, 1:]
cases

,stfips,stname,ctyfips,ctyname,fips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,confirmed_cases_20200423,confirmed_cases_20200424,confirmed_cases_20200425,confirmed_cases_20200426,confirmed_cases_20200427,confirmed_cases_20200428,confirmed_cases_20200429,confirmed_cases_20200430,confirmed_cases_20200501,confirmed_cases_20200502
0,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,33,36,36,37,39,40,43,44,42,45
1,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,143,147,147,161,168,171,174,174,175,181
2,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,30,32,32,33,35,37,37,39,42,43
3,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,33,34,34,38,42,42,42,42,42,42
4,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,31,31,31,34,34,34,36,37,39,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,Wyoming,37,Sweetwater County,56037,0,0,0,0,0,...,16,16,16,16,16,16,17,18,18,18
3138,56,Wyoming,39,Teton County,56039,0,0,0,0,0,...,93,95,95,95,95,96,96,96,96,97
3139,56,Wyoming,41,Uinta County,56041,0,0,0,0,0,...,7,7,7,7,7,8,8,8,8,8
3140,56,Wyoming,43,Washakie County,56043,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
3141,56,Wyoming,45,Weston County,56045,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
deaths = pd.read_csv("jhu_deaths.csv")
deaths = deaths.iloc[:, 6:]

In [61]:
merged = pd.concat([cases, deaths], axis=1)
merged

,stfips,stname,ctyfips,ctyname,fips,confirmed_cases_20200122,confirmed_cases_20200123,confirmed_cases_20200124,confirmed_cases_20200125,confirmed_cases_20200126,...,death20200423,death20200424,death20200425,death20200426,death20200427,death20200428,death20200429,death20200430,death20200501,death20200502
0,1,Alabama,1,Autauga County,1001,0,0,0,0,0,...,2,2,2,2,3,4,4,4,3,3
1,1,Alabama,3,Baldwin County,1003,0,0,0,0,0,...,3,3,3,3,3,3,3,3,4,4
2,1,Alabama,5,Barbour County,1005,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
3,1,Alabama,7,Bibb County,1007,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,Alabama,9,Blount County,1009,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,Wyoming,37,Sweetwater County,56037,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3138,56,Wyoming,39,Teton County,56039,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3139,56,Wyoming,41,Uinta County,56041,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3140,56,Wyoming,43,Washakie County,56043,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3141,56,Wyoming,45,Weston County,56045,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
os.chdir("..")
merged.to_csv("Confirmed cases and deaths.csv")