In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# importing fips data. and rearranging the columns
fips = pd.read_excel("fips.xlsx")
fips = fips.iloc[:, [1, 3, 2, 4, 5]]

# Convert the 'integers' to integers in fips file.
for i in range(fips.shape[0]):
    if fips.iloc[i, 4] != 'unknown':
        fips.iloc[i, 4] = int(fips.iloc[i, 4])
        fips.iloc[i, 2] = int(fips.iloc[i, 2])

fips = fips.drop(fips[fips.fips == 0].index)
fips = fips.drop(fips[fips.fips == "unknown"].index)
fips.iloc[3142]
fips = fips.reset_index(drop=True)
fips = fips[0:3142]
fips.head()

   stfips   stname ctyfips         ctyname  fips
0       1  Alabama       1  Autauga County  1001
1       1  Alabama       3  Baldwin County  1003
2       1  Alabama       5  Barbour County  1005
3       1  Alabama       7     Bibb County  1007
4       1  Alabama       9   Blount County  1009

In [6]:
df = pd.read_csv("JHU_US_MAP.csv")
df

,Countyname,ST_Name,ST_Abbr,ST_ID,FIPS,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,POVALL_201,Unemployed,Median_Hou,Recovered,Active,State_Conf,State_Deat,State_Reco,State_Test,AgedPop
0,Autauga,Alabama,AL,1,1001,10.000000,71.941152,7.194115,13.8,3.6,...,7587,942,59338,0,0,6750,242,0,75827,8050
1,Baldwin,Alabama,AL,1,1003,1.754386,78.432452,1.376008,9.8,3.6,...,21069,3393,57588,0,0,6750,242,0,75827,40665
2,Barbour,Alabama,AL,1,1005,0.000000,148.707849,0.000000,30.9,5.2,...,6788,433,34382,0,0,6750,242,0,75827,4634
3,Bibb,Alabama,AL,1,1007,0.000000,187.500000,0.000000,21.8,4.0,...,4400,344,46064,0,0,6750,242,0,75827,3661
4,Blount,Alabama,AL,1,1009,0.000000,58.782849,0.000000,13.2,3.5,...,7527,878,50412,0,0,6750,242,0,75827,10233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Sweetwater,Wyoming,WY,56,56037,0.000000,37.165223,0.000000,8.4,4.2,...,3540,896,73315,0,0,536,7,0,8615,4721
3138,Teton,Wyoming,WY,56,56039,0.000000,415.926520,0.000000,6.3,3.0,...,1443,464,99087,0,0,536,7,0,8615,3135
3139,Uinta,Wyoming,WY,56,56041,0.000000,39.410808,0.000000,10.0,4.4,...,2010,390,63401,0,0,536,7,0,8615,2498
3140,Washakie,Wyoming,WY,56,56043,0.000000,101.458465,0.000000,11.9,4.2,...,918,172,55190,0,0,536,7,0,8615,1686
3141,Weston,Wyoming,WY,56,56045,NaN,0.000000,0.000000,11.8,3.5,...,777,131,54319,0,0,536,7,0,8615,1340

In [7]:
for col in df.columns[5:]:
    fips[col] = ""

In [8]:
fips

,stfips,stname,ctyfips,ctyname,fips,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,POVALL_201,Unemployed,Median_Hou,Recovered,Active,State_Conf,State_Deat,State_Reco,State_Test,AgedPop
0,1,Alabama,1,Autauga County,1001,,,,,,...,,,,,,,,,,
1,1,Alabama,3,Baldwin County,1003,,,,,,...,,,,,,,,,,
2,1,Alabama,5,Barbour County,1005,,,,,,...,,,,,,,,,,
3,1,Alabama,7,Bibb County,1007,,,,,,...,,,,,,,,,,
4,1,Alabama,9,Blount County,1009,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,Wyoming,37,Sweetwater County,56037,,,,,,...,,,,,,,,,,
3138,56,Wyoming,39,Teton County,56039,,,,,,...,,,,,,,,,,
3139,56,Wyoming,41,Uinta County,56041,,,,,,...,,,,,,,,,,
3140,56,Wyoming,43,Washakie County,56043,,,,,,...,,,,,,,,,,
3141,56,Wyoming,45,Weston County,56045,,,,,,...,,,,,,,,,,

In [9]:
for i in range(df.shape[0]):
    for col in df.columns[5:]:
        fips.loc[fips["fips"] == df.iloc[i, 4], col] = df.loc[i, col]

In [10]:
fips

,stfips,stname,ctyfips,ctyname,fips,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,POVALL_201,Unemployed,Median_Hou,Recovered,Active,State_Conf,State_Deat,State_Reco,State_Test,AgedPop
0,1,Alabama,1,Autauga County,1001,10,71.9412,7.19412,13.8,3.6,...,7587,942,59338,0,0,6750,242,0,75827,8050
1,1,Alabama,3,Baldwin County,1003,1.75439,78.4325,1.37601,9.8,3.6,...,21069,3393,57588,0,0,6750,242,0,75827,40665
2,1,Alabama,5,Barbour County,1005,0,148.708,0,30.9,5.2,...,6788,433,34382,0,0,6750,242,0,75827,4634
3,1,Alabama,7,Bibb County,1007,0,187.5,0,21.8,4,...,4400,344,46064,0,0,6750,242,0,75827,3661
4,1,Alabama,9,Blount County,1009,0,58.7828,0,13.2,3.5,...,7527,878,50412,0,0,6750,242,0,75827,10233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56,Wyoming,37,Sweetwater County,56037,0,37.1652,0,8.4,4.2,...,3540,896,73315,0,0,536,7,0,8615,4721
3138,56,Wyoming,39,Teton County,56039,0,415.927,0,6.3,3,...,1443,464,99087,0,0,536,7,0,8615,3135
3139,56,Wyoming,41,Uinta County,56041,0,39.4108,0,10,4.4,...,2010,390,63401,0,0,536,7,0,8615,2498
3140,56,Wyoming,43,Washakie County,56043,0,101.458,0,11.9,4.2,...,918,172,55190,0,0,536,7,0,8615,1686
3141,56,Wyoming,45,Weston County,56045,NaN,0,0,11.8,3.5,...,777,131,54319,0,0,536,7,0,8615,1340

In [11]:
df

,Countyname,ST_Name,ST_Abbr,ST_ID,FIPS,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,POVALL_201,Unemployed,Median_Hou,Recovered,Active,State_Conf,State_Deat,State_Reco,State_Test,AgedPop
0,Autauga,Alabama,AL,1,1001,10.000000,71.941152,7.194115,13.8,3.6,...,7587,942,59338,0,0,6750,242,0,75827,8050
1,Baldwin,Alabama,AL,1,1003,1.754386,78.432452,1.376008,9.8,3.6,...,21069,3393,57588,0,0,6750,242,0,75827,40665
2,Barbour,Alabama,AL,1,1005,0.000000,148.707849,0.000000,30.9,5.2,...,6788,433,34382,0,0,6750,242,0,75827,4634
3,Bibb,Alabama,AL,1,1007,0.000000,187.500000,0.000000,21.8,4.0,...,4400,344,46064,0,0,6750,242,0,75827,3661
4,Blount,Alabama,AL,1,1009,0.000000,58.782849,0.000000,13.2,3.5,...,7527,878,50412,0,0,6750,242,0,75827,10233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,Sweetwater,Wyoming,WY,56,56037,0.000000,37.165223,0.000000,8.4,4.2,...,3540,896,73315,0,0,536,7,0,8615,4721
3138,Teton,Wyoming,WY,56,56039,0.000000,415.926520,0.000000,6.3,3.0,...,1443,464,99087,0,0,536,7,0,8615,3135
3139,Uinta,Wyoming,WY,56,56041,0.000000,39.410808,0.000000,10.0,4.4,...,2010,390,63401,0,0,536,7,0,8615,2498
3140,Washakie,Wyoming,WY,56,56043,0.000000,101.458465,0.000000,11.9,4.2,...,918,172,55190,0,0,536,7,0,8615,1686
3141,Weston,Wyoming,WY,56,56045,NaN,0.000000,0.000000,11.8,3.5,...,777,131,54319,0,0,536,7,0,8615,1340

In [12]:
fips.to_csv("JHU_US_MAP.csv")